/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
  --white: #fff;
  --primary: #000;
  /* --secondary: #333; */
  --secondary: #666;
  --grey: #eee;
  --slate: #cbd5e1;
  --blue1: #2b78d1;
  --blue2: #0a54a8;
  --box-shadow: 0px 2px 10px rgb(104, 102, 102);
  --transition: all 0.3s ease;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--secondary);
  line-height: 1.15;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  font-family: 'Roboto', sans-serif;
  font-size: 90%;
  font-weight: 400;
}

@media screen and (min-width: 740px) {
  body {
    font-size: 100%;
  }
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font: inherit;
}

p {
  line-height: 1.4rem;
}

h1 {
  font-weight: 900;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.4rem 0.8rem;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 700;
  background-color: transparent;
  border-radius: 4px;
}

.wrapper {
  max-width: 1450px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
}

.wrapper > * {
  padding: 1.25rem;
}
.header {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.sidebar {
  display: -ms-grid;
  display: grid;
  gap: 60px;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--blue1);
  color: var(--white);
}

.main {
  min-height: 100vh;
  padding: 1.3rem;
  background-color: var(--slate);
}

.footer {
  background-color: var(--white);
}

@media screen and (min-width: 740px) {
  .wrapper {
    -ms-grid-columns: max(25%, 200px) 1fr;
    grid-template-columns: max(25%, 200px) 1fr;
    -ms-grid-rows: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
  }
  .wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .wrapper > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .wrapper > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .wrapper > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .wrapper > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .header {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .sidebar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-flex-line-pack: start;
    align-content: start;
  }

  .main {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -ms-grid;
    display: grid;
    gap: 1.3rem;
  }

  .footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media screen and (min-width: 1100px) {
  .wrapper {
    -ms-grid-columns: 250px 1fr;
    grid-template-columns: 250px 1fr;
  }

  .main {
    -ms-grid-columns: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
  }
}

.nav {
  display: -ms-grid;
  display: grid;
}

.navbar1 {
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 30px 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 1100px) {
  .navbar1 {
    -ms-grid-columns: 3fr 60px minmax(200px, 1fr);
    grid-template-columns: 3fr 60px minmax(200px, 1fr);
  }
}
.account {
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
}

@media screen and (min-width: 740px) {
  .account {
    -ms-grid-columns: 40px 0 1fr;
    grid-template-columns: 40px 1fr;
    gap: 0;
  }
}

.fa-search {
  font-size: 18px;
  opacity: 0.8;
}

.fa-search:hover {
  opacity: 1;
}

.fa-bell {
  font-size: 24px;
  padding: 0.3rem;
}

.fa-bell:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.search-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1rem 1fr;
  grid-template-columns: 20px 1fr;
  gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-input {
  padding: 0.35rem 0.8rem;
  border-radius: 11px;
  background-color: var(--slate);
  width: 100%;
  min-width: 100px;
  font-size: 1.2rem;
  border: 1px solid transparent;
  outline: none;
}

.username {
  font-size: 0.9rem;
  padding: 0.25rem 0;
}

.username:hover {
  text-decoration: underline;
}

@media screen and (min-width: 740px) {
  .search-input {
    width: 80%;
  }

  .username {
    font-size: 1.2rem;
  }
}

/* nav 2 */
.navbar2 {
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}

.account-resume {
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
}

.account-resume .username {
  font-size: 1rem;
}

.account-resume p {
  color: var(--primary);
}

.btns-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 72px 5px 72px 5px 72px;
  grid-template-columns: repeat(3, 72px);
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  padding-right: 0;
}

.btns-group .btn {
  padding: 0.4rem 3px;
  width: 100%;
  background-color: var(--blue1);
  color: var(--white);
  border-radius: 99px;
}

.btns-group .btn:hover {
  background-color: var(--blue2);
}

@media screen and (min-width: 1100px) {
  .account-resume {
    -ms-grid-columns: 80px 0 1fr;
    grid-template-columns: 80px 1fr;
    gap: 0;
  }

  .account-resume .username {
    font-size: 1.25rem;
  }

  .btns-group {
    padding-right: 2.5rem;
    -ms-grid-columns: 100px 15px 100px 15px 100px;
    grid-template-columns: repeat(3, 100px);
    gap: 15px;
  }

  .btns-group .btn {
    padding: 0.4rem 0.8rem;
  }
}

/* sidebar */
.title-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr;
  grid-template-columns: 40px 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-icon {
  font-size: 35px;
  color: var(--white);
}

.title {
  color: var(--white);
  font-size: 1.4rem;
  line-height: 1;
}

@media screen and (min-width: 1100px) {
  .title {
    font-size: 1.8rem;
  }
}

.sidebar ul {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.sidebar li a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35px 0.5rem 1fr;
  grid-template-columns: 35px 1fr;
  justify-items: start;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.sidebar li :hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidebar li a .fas,
.sidebar li a .far {
  font-size: 28px;
}

/* main */
.section-title {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.4rem 0;
  margin-bottom: 1.25rem;
  text-transform: capitalize;
}

.articles {
  display: -ms-grid;
  display: grid;
  gap: 16px;
}

@media screen and (min-width: 600px) {
  .articles {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
  }
}

@media screen and (min-width: 840px) {
  .articles {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
  }
}

.articles .card,
.col .card {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 11px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.articles .card {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  border-left: 8px solid gold;
}

.articles .card-title,
.col .card-title {
  text-transform: capitalize;
}

.articles .card-title {
  font-size: 1.2rem;
}

.col .card-title {
  font-size: 1rem;
}

.smaller {
  font-size: 90%;
}

.card-title a {
  display: block;
  width: 100%;
  padding: 0.4rem 0;
  text-align: left;
}

.card-title a:hover {
  text-decoration: underline;
}

.articles .card .btn:hover {
  background-color: rgb(233, 226, 226);
  background-color: rgba(0, 0, 0, 0.2);
}

.col {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-max-content 1.5rem -webkit-max-content;
  -ms-grid-rows: max-content 1.5rem max-content;
  grid-template-rows: -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content;
  gap: 1.5rem;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.card ul {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.card li a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45px 1fr;
  grid-template-columns: 45px 1fr;
  justify-items: start;
  padding: 0.5rem;
  line-height: 1;
}

.card li h6 {
  color: var(--primary);
  margin-bottom: 0.75rem;
}

li h6:hover {
  text-decoration: underline;
}

.card li p {
  text-transform: capitalize;
}

.card li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

hr {
  color: var(--secondary);
  margin: 1rem 0;
  opacity: 0.5;
}

/* footer */
.footer p {
  font-size: 90%;
  color: var(--primary);
  text-align: center;
  padding: 0.5rem;
}
